h1 {
    background-color: beige;
}   
ul {
    display: flex;
    position: relative;
    flex-direction: row;
    list-style-type: none;   
} 

li {
    border: 2px solid black;
    margin-left: 5px; 
    padding: 0px 5px; 
}

a{
    border: 2px solid gray;
    margin-left: 5px; 
    padding: 0px 5px;
}
.hiddenChar{
    color: white;
}
.showLetter{
    color: black;
}

.hiddeButton{
    background-color: gray;
}