main {
    width: 70vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: purple;
    color: white;
}
.hangman_container {
    display: flex;
    height: 70%;
    justify-content: space-around;
}
.hangman {
    border: 0.2em solid black;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head {
    border: 0.2em solid black;
    border-radius: 2em;
    width: 2.2em;
    height: 2.2em;
    background-color: black;
    color: white;
    font: -webkit-control;

}
.body {
    display: flex;
}
.upper_body {
    border: 0.15em solid black;
    height: 4em;
}
.right_arm {
    border: 0.15em solid black;
    height: 2em;
    margin-right: 0.6em;
    transform: rotate(45deg);
}
.left_arm {
    border: 0.15em solid black;
    height: 2em;
    margin-left: 0.6em;
    transform: rotate(-45deg);
}
.legs {
    display: flex;
    justify-content: center;
}
.right_leg {
    border: 0.15em solid black;
    height: 3em;
    margin-right: 0.9em;
    margin-top: -0.6em;
    transform: rotate(45deg);
}
.left_leg {
    border: 0.15em solid black;
    height: 3em;
    margin-left: 0.9em;
    margin-top: -0.6em;
    transform: rotate(-45deg);
}
.secret_word_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.secret_letter {
    border-bottom: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
    width: 1.5em;
    height: 1.3em;
}
.letter_selection_label {
    font-weight: bold;
    margin-bottom: 2em;
}
.letter_selection_container {
    margin-top: 2em;
    margin-bottom: 2em;
}
.letter {
    font-weight: bold;
}
.actions_container {
    margin-top: 2em;
    margin-bottom: 2em;
}